/* Modelo de cajas */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    background: #f88e50;
    /*background-image: url("../img/background-2462426_1280.jpg");*/
}

.contenedorPrincipal {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #f3f1f7;
    width: 100%;
    height: 80px;
}
header nav ul li {
    list-style-type: none;
    float: left;
}

header nav ul li a {
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    color: rgb(14, 14, 112);
}
header nav ul li a:hover {
    background-color: rgb(236, 11, 11);
    color: white;
}
.menu{
    font-size:x-large;
}

#caja1, #caja2 {
    display: block;
    width: 250px;
    height: 250px;
    background-color: aqua;
    border: 10px solid red;
    margin: 15px;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    
}

.caja p {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 230px; 
    padding: 20px;
}

.clearfix {
    float: none;
    clear: both;    
}

.bordes {
    /*border-top: 5px solid red;
    border-right: 10px dotted blue;
    border-bottom: 5px double green;
    border-left: 10px dashed violet;
    */border: 5px solid rgb(46, 10, 155);
    border-top-left-radius: 20px;

}

/* posicionamiento */
.contenidoP {
    width: 62%;
    float: left;
}

#lateral {
    float: right;
    width: 34%;
    border: 1px solid rgb(46, 10, 155);
    text-align: center;
    min-height: 500px;
    max-height: 600px;
    overflow: scroll;
}

